html, body {


  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: rgb(0,255,127);*/
  height: 100%;
  background-color:lightgray;

}


.row {
  padding: 0;
}

section {
  padding: 0;
}

h1 {
  display: inline-block;
  font: 40px, "Times New Roman";
  position: relative;
  margin-bottom: 15px;
}

a {
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 1rem;
}


/* Navigation Styling */

.nav-whole {
  background-color: #104E70;


}


.inner ol {
  margin-bottom: 30px;
  border-bottom: 2px dashed lightgray;
  padding-bottom: 10px;
}

.inner li {
  margin-bottom: 5px;
}

ol li {
  line-height: 1.5em;
}

nav {
  font-size: 0;
}



nav ul {
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 38px;
  overflow: hidden;
  background-color: rgba(20,20,20,0.2);
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 1px;

}

nav li a {
  font-size: 24px;
  text-decoration: none;
  color: #f8f8f8;
  padding: 0;
  padding: 50px 25px 50px 25px;
  border-right: 2px solid black;

}

nav li:first-of-type a {
  border-left: 2px solid black;

}


nav li a:hover {
  background-color: rgba(20,20,20,0.4);
  text-decoration: none;
  color: lightgray;
}

td {
  border-bottom: 1px solid black;
}

td, th, tr {
  padding: 8px 20px 8px 20px;
}



input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Background Gradients */
.page-wrap {
width: 100%;
 margin-left: auto;
 margin-right: auto;
   background-image: url("../images/rough_diagonal.png");
  padding: 40px; 
}


/* Left Side Inner */
.inner section.col-md-8 {
    background-image: url("../images/rough_diagonal.png"); 
    padding: 40px;
  
}

/* Entire Left Side */
section.inner {
    background-image: url("../images/rough_diagonal.png"); 
    padding: 0;
}

.dash h1 {
  width: 100%;
  text-align: left;
  margin-bottom: -5px;

}

.dash li {
  font-size: 0.8em;
}

.col-md-12 {
  padding: 0;
}

.search-bar {
  margin-top: 20px;
}

/* Logo Image */
.opp-logo {
  margin-top: 12px;
  width: 100%;
}

.leaf{
   width: 90%;
    margin-top: 10px;
    float: right;
} 


.logo {
  text-align: center;
  width: 100%;
  margin: auto;
}


.circle {
    position:relative;
    width:200px; height:200px;
    margin:0 auto;
    overflow:hidden;
    border-radius: 100px;
}

.circle:after{
    content:'';
    position:absolute;
    left:25px; top:25px;
    border-radius:100%;
    width:150px; height:150px;
    box-shadow: 0px 0px 0px 2000px #f2f2f2;
    background-color: transparent;

}

.circle-wrapper {
  margin-right: 25px;
  text-align: center;
}

.circle p {
  margin-top: 85px;
  overflow: hidden;
  background-color: transparent;
  font-size: 1.6em;
}

.c100.big {
  font-size: 200px;
}

/* Recent Submissions Center */
.recent-submissions {
  text-align: center;
  margin-top: 15px;
 

}

/* Center Table */
.recent-submissions table {
  margin-left: auto;
  margin-right: auto;
}

/* Center Table */
.recent-submissions .thead-wrapper {
  border-bottom: 2px dashed gray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


.recent-submissions button {
  padding: 10px;
}


.map-changes {
  border-top: 2px dashed gray;
  padding-top: 30px;
  margin-top: 30px;
  height: 100%;
  overflow: none;
}



.fieldsets button {
    background-color: #2A5C35;
  padding: 15px;
  border-radius: 5px;
  color: #f2f2f2;
  text-align: center;
  float: right;
}


.post-form {
  text-align: center;
  margin: auto;
}

/* Form Inputs */
.post-form label {
display: block;
}



/* Form Inputs */


.post-form button {
  background-color: #2A5C35;
  padding: 15px;
  border-radius: 5px;
  color: #f2f2f2;
  text-align: center;

}


.post-form fieldset {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-right: 20px;
}


/* Form Input Styling WRAPPER */
.form-inputs {
  width: 250px;
  display: inline-block;
  margin-right: 5px;
}


/* Form Inputs */
.post-form .input-details {
  background-color: rgba(240,240,240,1);
  margin-left: 15px;

}

/* Form Input Styling WRAPPER */
.form-inputs label{
  margin-left: 25px;
}


.search-here-wrapper h2 {
  display: inline-block;
  margin-right: 20px;

}


/* Form Inputs */
.post-form .search-here {
  padding: 15px;
  border-radius: 15px;
  width: 400px;
  display: inline-block;

}





.postal-code {
  border-bottom: 2px dashed lightgray;
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 20px;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;


}

.postal-code button {
  float: right;
  margin-right: 15px;
  background-color: #2A5C35;
  padding: 15px;
  border-radius: 5px;
  color: #f2f2f2;
  text-align: center;
}

.postal-code p {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 0.6em;
  float: right;
  clear: right;
}

fieldset {
  margin-bottom: 15px;
}

.fieldsets {
  margin-top: -10px;
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 40px;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}

.fieldsets .submit-changes {
  width: 100%;
}


/* Hide Fieldsets */
/*.fieldsets-hide, .fieldsets-hide > button {
    background-color: rgba(20,20,20,0.3);
    opacity: 0.4;

}*/



.submit-code p {
    color: black;
    font-size: 1.3em;
    display: absolute;
    padding-bottom: 10px;
}


#map_canvas {
  border: 1px dotted black;
  height: 500px;
  margin-left: 15px;
}

/* Circles */
.circle-wrapper h3{
  margin: 0;
  width: 125px;
  margin-left: 25px;
  margin-bottom: 5px;

}

/* Circles */
.circle-wrapper h3:last-of-type {
  margin-bottom: 25px;
}



.login {
  width: 70%;
  background-color: rgba(130, 130, 130, 0.1);
  padding: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

}

.login button {
    background-color: #2A5C35;
    padding: 15px;
    border-radius: 5px;
    color: #f2f2f2;
    text-align: center;
}



.help {
  width: 70%;
 background-color: rgba(130, 130, 130, 0.1);
  padding: 50px;
  padding-left: 100px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}


.help li {
  margin-bottom: 15px;
  list-style-type: decimal;

}

.help li:before {
  color: #61a60e;
}

.help a {
  color: #2A5C35;
  padding: 10px;
  border-radius: 5px;
}

.help a:hover {
  color: #61a60e;
  text-decoration: none;
  background-color: rgba(100,100,100,0.1);
  padding: 10px;
  border-radius: 5px;


}


.public {
  text-align: center;
}

.public button {
  margin-bottom: 10px;
  width: 100px;
}


.public a {
  font-size: 0.8em;
}


/* Background Styling Edges */
.outer{
  background-color:lightgray;

}



.trans {
    padding: 40px;
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.2);
}


.trans table {
  width: 100%;
}

/* Crest Wrapper */
.opp-crest-wrapper {
  width: 100px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 20px;
  margin-bottom: 15px;

}

/* Crest Image */
.opp-crest {
  width: 100%;
}



label {
  float: left;
  font-size: 0.9em;
  margin-top: 15px;
  margin-right: 15px;
}

select {
  padding: 10px;
  float: right;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }




.footer {
  padding: 10px;
  background-color: #104E70;
  text-align: center;
  padding: 15px;
  color: #f6f1ed;
}

.footer p {
  padding: 10px;
}


/* Adjusting font size for screen */
@media (max-width: 3000px) {
.c100.big {
    font-size: 175px;
}
}


/* Adjusting font size for screen */
@media (max-width: 1850px) {
.c100.big {
    font-size: 150px;
}
}

@media (max-width: 1350px) {
.c100.big {
    font-size: 100px;
}
}


/* Adjusting font size for screen */
@media (max-width: 1400px) {
.circle-wrapper > h3 {
   font-size: 16px;
}
} 


/* Adjusting font size for screen */
@media (max-width: 1150px) {
tr,td {
  font-size: 0.9em;
}
} 



/* Adjusting font size for screen */
@media (max-width: 990px) {

nav {
    width: 900px;
}

nav ul {
  width: 100%;
  float: none;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

}

.leaf {
  display: none;

}

/* Circle Sizes */
section.circle-wrapper {
  width: 300px;
  margin: auto;
}

.c100.big {
    font-size: 200px;
}

.circle-wrapper > h3 {
   font-size: 20px;
}

.nav-whole > section:first-of-type {
  width: 100%;
  text-align: center;
}

.opp-logo {
  width: 50%;
  text-align: center;
}

.help {

  text-align: center;
  margin-left: 20px;
  margin-right: 20px;

}


}

@media (max-width: 750px) {

.help {

  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

}

li {
  font-size: 1em !important;
}

a {
  font-size: 1em !important;
}


}

/* Adjusting font size for screen */
@media (max-width: 600px) {

/* Circle Sizes */
section.circle-wrapper {
  width: 100px;
  margin: auto;
}


.c100.big {
    font-size: 150px;
}

.circle-wrapper > h3 {
   font-size: 20px;
}

.leaf {
  text-align: center;
  width: 100%;
  margin-right: 200px;

}



}




/*.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}*/

/*.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
*/